{% extends "board/Base.html" %}
{% block content %}

<div class="flex mx-auto min-h-screen">
    <aside id="sidebar"
        class="w-[20rem] px-4 font-cousine flex-shrink-0 dark:text-white transition-width duration-300 ease-in-out h-screen flex flex-col">

        <div class="py-5 font-bold flex items-center gap-2 border-b border-border dark:border-border-dark">
            <span class="transform transition-transform duration-300" id="wsp">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-panel-right-icon lucide-panel-right">
                    <rect width="20" height="18" x="3" y="3" rx="2" />
                    <path d="M15 3v18" />
                </svg>
            </span>
            <span class="font-medium font-monasans text-[1.25rem] tracking-wider" id="header-logo">Taskify</span>
        </div>

        <div class="flex flex-col flex-grow">
            <nav id="sidebar-nav" class="flex-grow py-6">
                <ul class="space-y-2">
                    <li><a href="{% url 'board-home' %}"
                            class="flex items-center p-2 dark:text-[#c9c9c9] hover:bg-[#e8e6dc] dark:hover:bg-primary-dark rounded transition-colors duration-150">
                            <span>Workspaces</span>
                        </a></li>
                    <li><a href="#" id="open-invite-modal"
                            class="flex items-center p-2 dark:text-[#c9c9c9] hover:bg-stone-200 dark:hover:bg-stone-800 rounded transition-colors duration-150">
                            <span>Members</span>
                        </a></li>
                    <li><a href="#" id="open-background-modal"
                            class="flex items-center p-2 dark:text-[#c9c9c9] hover:bg-stone-200 dark:hover:bg-stone-800 rounded transition-colors duration-150">
                            <span>Change Background</span>
                        </a></li>
                    <li><a href="#"
                            class="flex items-center p-2 dark:text-[#c9c9c9] hover:bg-stone-200 dark:hover:bg-stone-800 rounded transition-colors duration-150">
                            <span>Data Analysis</span>
                        </a></li>
                    <li><a href="#"
                            class="flex items-center p-2 dark:text-[#c9c9c9] hover:bg-stone-200 dark:hover:bg-stone-800 rounded transition-colors duration-150">
                            <span>Boards</span>
                        </a></li>
                    <li>
                </ul>
            </nav>
        </div>

        <div class="py-4 border-t border-border dark:border-border-dark mt-auto">
            <a href="{% url 'user-profile' %}"
                class="flex items-center p-2 hover:bg-primary-dark rounded transition-colors duration-150">
                <div
                    class="h-8 w-8 flex-none flex justify-center bg-gray-300 dark:bg-indigo-500 items-center rounded-full mr-3">
                    <span class="hidden" id="self-user">{{user.id}}</span>
                    {{ user.username|slice:":1"|capfirst }}
                </div>
                <div class="font-medium font-monasans tracking-wider" id="profile">
                    <div class="text-md text-gray-900 dark:text-white">
                        {{user.username}}
                    </div>
                    <div class="text-sm text-gray-500 dark:text-gray-400"> 
                        {{user.email}}
                    </div>
                </div>
            </a>
        </div>
    </aside>

    <div class="flex flex-col flex-grow">
        <main id="main-content"
            class="flex-1 rounded-lg my-1 mr-1 p-4 dark:bg-primary-dark dark:text-white  border border-border dark:border-border-dark/50 bg-primary transition-all duration-[250ms] ease-in-out">

            <div class="mb-8">
                <div
                    class="flex items-center pb-3 justify-between border-b border-border dark:border-border-dark font-monasans tracking-wider">
                    <span id="board-id" class="hidden">{{ board.id }}</span>
                    <div id="editable-name" class="">
                        <input id="edit-name" type="text"
                            class="bg-transparent text-3xl font-bold cursor-pointer w-auto hover:bg-white/50 rounded-md"
                            autocomplete="false" value="{{ board.name }}" />
                    </div>
                    <div class="flex gap-8 items-center">
                        <div>
                            <button id="theme-toggle"
                                class="group p-1 rounded border bg-transparent dark:border-gray-700">
                            </button>
                        </div>
                        <div id="add-mem-btn-div">
                            <button id="add-members-btn"
                                class="bg-black dark:bg-indigo-600 text-white font-medium px-2 py-2 rounded-md text-sm hover:bg-gray-800">
                                Add Members
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="overflow-x-auto">
                <div id="list-container" class="flex gap-4 min-w-max">
                    <!-- Default lists will be added here -->
                </div>
            </div>
        </main>
    </div>

    <!-- List Modal -->
    <div id="list-modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[36rem] border border-border dark:border-border-dark">
            <h2 class="text-lg font-semibold mb-4">Create New List</h2>
            <form id="addListForm" method="post">
                {% csrf_token %}
                {{createList.list_name}}
                <div class="flex justify-end">
                    <button type="button" id="close-list-modal" class="mr-2 px-4 py-2 text-gray-500">Cancel</button>
                    <button type="submit"
                        class="px-4 py-2 bg-rose-600 text-white rounded-lg hover:bg-rose-500">Save</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit List Modal -->
    <div id="edit-list-modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[36rem] border border-border dark:border-border-dark">
            <h2 class="text-lg font-semibold mb-4">Edit List</h2>
            <input id="edit-list-name" type="text" placeholder="List Name"
                class="w-full p-2 border border-border dark:border-border-dark rounded-lg mb-4">
            <div class="flex justify-end">
                <button id="close-edit-list-modal" class="mr-2 px-4 py-2 text-gray-500">Cancel</button>
                <button id="update-list" type="submit"
                    class="px-4 py-2 bg-rose-600 text-white rounded-lg hover:bg-rose-500">Update</button>
            </div>
        </div>
    </div>

    <!-- Delete List Modal -->
    <div id="delete-list-modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[36rem]">
            <h2 class="text-lg font-semibold mb-4">Delete List</h2>
            <p class="text-gray-600 mb-6">Are you sure you want to delete this list? This action cannot be
                undone.</p>
            <div class="flex justify-end">
                <button id="close-delete-list-modal" class="mr-2 px-4 py-2 text-gray-500">Cancel</button>
                <button id="confirm-delete-list"
                    class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-500">Delete</button>
            </div>
        </div>
    </div>

    <!-- Edit Task Modal -->
    <div id="edit-task-modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[36rem]">
            <h2 class="text-lg font-semibold mb-4">Edit Task</h2>
            <input id="edit-task-name" type="text" placeholder="Task Name" class="w-full p-2 border rounded-lg mb-4">
            <div class="flex justify-end">
                <button id="close-edit-task-modal" class="mr-2 px-4 py-2 text-gray-500">Cancel</button>
                <button id="update-task"
                    class="px-4 py-2 bg-rose-600 text-white rounded-lg hover:bg-rose-500">Update</button>
            </div>
        </div>
    </div>

    <!-- Task Modal -->
    <div id="task-modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[36rem]">
            <h2 class="text-lg font-semibold mb-4">Add Task</h2>
            <form id="addTaskForm" method="post">
                {% csrf_token %}
                {{createCard.card_name}}
                <div class="flex justify-end">
                    <button type="button" id="close-task-modal" class="mr-2 px-4 py-2 text-gray-500">Cancel</button>
                    <button type="submit"
                        class="px-4 py-2 bg-rose-600 text-white rounded-lg hover:bg-rose-500">Save</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Invite Member Modal -->
    <div id="invite-member-modal"
        class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[36rem]">
            <h2 class="text-lg font-semibold mb-4">Invite to Workspace</h2>
            <form id="inviteModalForm" method="post">
                {{inviteMember.email}}
                <div id="wait-to-invite" class="flex justify-center hidden">
                </div>
                <div class="flex justify-end">
                    <button id="close-invite-modal" type="button" class="mr-2 px-4 py-2 text-gray-500">Cancel</button>
                    <button id="send-invite" type="submit"
                        class="px-4 py-2 bg-rose-600 text-white rounded-lg hover:bg-rose-500">Send</button>
                </div>
            </form>
        </div>
    </div>

    <div id="background-modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 hidden flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[36rem]">
            <h2 class="text-lg font-semibold mb-4">Change Background</h2>

            <!-- Solid Colors -->
            <div class="mb-6">
                <h3 class="text-md font-medium mb-3">Solid Colors</h3>
                <div class="grid grid-cols-4 gap-4">
                    <div class="bg-red-300 h-12 rounded cursor-pointer hover:ring-2 ring-gray-400"
                        data-color="bg-red-300"></div>
                    <div class="bg-blue-300 h-12 rounded cursor-pointer hover:ring-2 ring-gray-400"
                        data-color="bg-blue-300"></div>
                    <div class="bg-green-300 h-12 rounded cursor-pointer hover:ring-2 ring-gray-400"
                        data-color="bg-green-300"></div>
                    <div class="bg-yellow-300 h-12 rounded cursor-pointer hover:ring-2 ring-gray-400"
                        data-color="bg-yellow-300"></div>
                    <div class="bg-purple-300 h-12 rounded cursor-pointer hover:ring-2 ring-gray-400"
                        data-color="bg-purple-300"></div>
                    <div class="bg-pink-300 h-12 rounded cursor-pointer hover:ring-2 ring-gray-400"
                        data-color="bg-pink-300"></div>
                    <div class="bg-indigo-300 h-12 rounded cursor-pointer hover:ring-2 ring-gray-400"
                        data-color="bg-indigo-300"></div>
                    <div class="bg-gray-300 h-12 rounded cursor-pointer hover:ring-2 ring-gray-400"
                        data-color="bg-gray-300"></div>
                </div>
            </div>

            <div class="flex justify-end">
                <button id="close-background-modal" class="px-4 py-2 text-gray-500">Close</button>
            </div>
        </div>
    </div>

    <div id="card-modal"
        class="fixed inset-0 bg-violet-300/50 backdrop-blur-sm flex items-center justify-center hidden">
        <div
            class="w-[24rem] md:w-[36rem] lg:w-[48rem] bg-white rounded-3xl shadow-lg border-2 border-border dark:border-border-dark text-gray-800 relative p-6">
            <button id="card-modal-close-btn"
                class="absolute top-8 right-12 text-gray-500 hover:text-gray-700 text-3xl">×</button>
            <div class="p-4">
                <div class="flex items-center justify-between mb-4">
                    <div class="flex items-center space-x-2">
                        <input type="checkbox"
                            class="rounded-full border-2 border-border dark:border-border-dark w-4 h-4">
                        <h2 class="text-lg font-semibold">Project planning</h2>
                    </div>
                </div>
                <div class="text-sm text-gray-600 mb-4">in list <span class="cursor-pointer">TO DO ▾</span>
                </div>
                <div class="flex">
                    <!-- Left Column -->
                    <div class="flex-grow pr-4">
                        <div class="mb-4">
                            <h3 class="text-sm font-medium">Labels:</h3>
                            <div id="labels" class="text-gray-600 flex flex-wrap gap-2 mt-2"></div>
                        </div>
                        <div class="mb-4">
                            <h3 class="text-sm font-medium mb-2">Description</h3>
                            <textarea class="w-full bg-gray-200 rounded-lg p-2 text-sm"
                                placeholder="Add a more detailed description..."></textarea>
                        </div>
                        <div class="mb-4">
                            <h3 class="text-sm font-medium">Comments</h3>
                            <div class="flex items-center space-x-2 mt-2">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ718nztPNJfCbDJjZG8fOkejBnBAeQw5eAUA&s"
                                    alt="User"
                                    class="w-8 h-8 rounded-full border-2 border-border dark:border-border-dark">
                                <input type="text" class="w-full bg-gray-200 rounded-lg p-2 text-sm"
                                    placeholder="Write a comment...">
                            </div>
                        </div>
                    </div>
                    <!-- Right Sidebar -->
                    <div class="w-36 relative">
                        <div class="space-y-1">
                            <button class="w-full text-left px-3 py-1.5 rounded-lg hover:bg-gray-300 text-sm">🚀
                                Join Now</button>
                            <button class="w-full text-left px-3 py-1.5 rounded-lg hover:bg-gray-300 text-sm">👥
                                Members</button>
                            <select id="labelSelect" class="w-full bg-gray-200 rounded-lg text-sm p-2 outline-none"
                                onchange="updateLabels()">
                                <option value="" hidden>🏷️ Labels</option>
                                <option value="Important Urgent">Important Urgent</option>
                                <option value="Important Not Urgent">Important Not Urgent</option>
                                <option value="Not Important Urgent">Not Important But Urgent</option>
                                <option value="Not Important Not Urgent">Not Important Not Urgent</option>
                            </select>
                            <button class="w-full text-left px-3 py-1.5 rounded-lg hover:bg-gray-300 text-sm">✓
                                Checklist</button>
                            <button class="w-full text-left px-3 py-1.5 rounded-lg hover:bg-gray-300 text-sm">📅
                                Dates</button>
                            <button class="w-full text-left px-3 py-1.5 rounded-lg hover:bg-gray-300 text-sm">📎
                                Attachment</button>
                            <!-- Move To Dropdown -->
                            <div class="relative">
                                <button onclick="toggleMoveDropdown()"
                                    class="w-full text-left px-3 py-1.5 rounded-lg hover:bg-gray-300 text-sm">Move
                                    To ➡ </button>
                                <div id="moveDropdown"
                                    class="absolute right-0 mt-1 w-40 bg-white shadow-lg rounded-lg hidden">
                                    <ul class="text-sm text-gray-700">
                                        <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">To Do</li>
                                        <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">In Progress</li>
                                        <li class="px-4 py-2 hover:bg-gray-200 cursor-pointer">Done</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-4 text-right">
                <button onclick="saveLabel()"
                    class="px-4 py-2 bg-rose-600 text-white rounded-lg shadow-md">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}