{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% tailwind_css %}

    {% if title %}
        <title>{{ title }} | Logo</title>
    {% else %}
        <title>Logo</title>
    {% endif %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <div>
        {% block content %}{% endblock %}
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="{% static 'board/toDo.js' %}"></script>
</body>

</html>