{% load static %}
{% load cotton %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
          rel="stylesheet">
    {% if title %}
      <title>{{ title }} | Taskify</title>
    {% else %}
      <title>Taskify</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script>
        if (localStorage.getItem('darkMode') === 'true' || (!localStorage.getItem('darkMode') && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        }
    </script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="min-h-screen flex flex-col font-poppins"
        x-data="{ darkMode: localStorage.getItem('darkMode') === 'true' || (!localStorage.getItem('darkMode') && window.matchMedia('(prefers-color-scheme: dark)').matches) }">
    <!-- Navbar -->
    <c-app_navbar />
    <!-- Main Content -->
    <main class="flex-1">
      {% block content %}{% endblock %}
    </main>
    <!-- Footer -->
    <c-app_footer />
    <!-- Toast Container -->
    <c-ui.toast />
    <script type="module" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
